language: java
branches:
  only:
  - master
  - develop
install: true
jdk:
- oraclejdk8
cache:
  directories:
  - $HOME/.m2
script:
- git clone -b master https://github.com/nablarch/nablarch-ci-script.git $HOME/build-script/
  && chmod +x $HOME/build-script/travis-ci/*.sh
- $HOME/build-script/travis-ci/install-mvn-3.2.5.sh
- $HOME/build-script/travis-ci/prepare_travis_settings.sh
- $HOME/build-script/travis-ci/gsp-gen.sh -p gsp
- $HOME/build-script/travis-ci/nablarch-mvn-build-with-mom_testing_common.sh -p travis,development
- $HOME/build-script/travis-ci/upload-mvn-test-report.sh
notifications:
  slack:
    secure: aJPha57pEhZdqi0+SaCoICWJbqCketV7njlgUapuLwXCdg3dERlXhjhfBowyBNzpQuNBkNGn8OWUnctIGXBLPD3cwWMBJ+EuZe9Smoo11w9H3vaV0Pc2qlo+6piBWkBWwM2u7WkXxHRTud1l285f25LYQc0qI6eWO2wqESQRdy2TDPktCg7Pz80KFUvy4taXv8neilFksP9iU4jlcx1SwIoYVdNXjhym46WE+yHsn+x4pXqA3835HUJNAzurCzSXWtqrpsuwqMoyui8X57H6KRaoMiK+MRCeCvfebk/yWqblCQDZPyTgdxmtj+3jYJt55iuiIzaONh6BpGWZsvq+eSlFvMRr1rov0UQIczZuXGmAbeS2wXDvWr7SyM+qDKoFHA6TaODhRErJOWdFXjnh9/XEYJpOXWl73rP6gVpvcxRJTa/C3xonHu700X2if3VyxLnJ+yHSfTeGiawut+kwTlrGw82a6NVTKpdd+pTl67XLQmT+hE+rRp0hNLDvLgCkszisNjokNMaWRNHxhlThn5bCRVZTqO5rt1kVoQfap4T8KNtc9DEOXzbEyyMAd25morEcY1yAm/BgAo53guGar7QesZvLB7F5QiSW8Q1uu5pYNE/GszdCohNYUEpKoHbu6SdUPJH/YzH9UNz8bFfTnyrq/y/C4AfBktKReBvOCGo=
